---
import Pagelayout from '../layouts/PageLayout.astro'
---

<Pagelayout>
<span><a href="http://www.ae-ap.com/"  title="lien vers le site d'Alain Etienne"><img src="./assets/alain.png" alt="Logo Alain Etienne" width="357" height="236" /></a></span>
<p id="teaser">L’aménagement des espaces libres, l’architecture des jardins, la planification du paysage sont les
champs d’activités du bureau Alain Etienne, architecte-paysagiste FSAP.</p>
<h2>Prestations</h2>
<p>Conception, élaboration du projet, appel d’offres, plans d’exécution et de détails définitifs,
direction des travaux.</p>
<h2>Applications</h2>
<p>Aménagement urbain, création de jardins et d’espaces publics, gestion différenciée des
espaces libres, concepts évolutifs du paysage.</p>
<h2>Contact</h2>
<p>Tél +41 22 343 43 75<br />
E-mail <a href="mailto:alain.etienne@dfinet.ch">alain.etienne@dfinet.ch</a><br />
Site web <a href="http://www.ae-ap.com/">www.ae-ap.com</a></p>
</Pagelayout>