---
import Pagelayout from '../layouts/PageLayout.astro'
---

<Pagelayout>
<span><a href="http://www.corealis-ing.net/" title="lien vers le site de Corealis"><img src="./assets/corealis.png" alt="Logo Alain Corealis" width="357" height="236" /></a></span>
<p id="teaser">Compétences multidisciplinaires issues de l’industrie, de la politique, 
de la recherche, des organisations internationales, qui vous aideront à définir votre 
stratégie énergétique et environnementale, à la traduire en programmes, budgets, plans 
d’actions et résultats mesurables.</p>
<h2>Prestations</h2>
<p>Assistance à maîtrise d’ouvrage, analyses stratégiques, concepts novateurs, mise en
place et pilotage de programmes, coordination, création de valeur, communication spécifique,
démarches participatives, solutions sur plateformes web.</p>
<h2>Applications</h2>
<p>Énergies renouvelables et efficacité énergétique, monitoring environnemental, 
conservation de la biodiversité, services écosystémiques, mesure du progrès et valeur 
acquise.</p>
<h2>Contact</h2>
<p>Tél +41 22 300 14 77<br />
E-mail <a href="mailto:corealis@bluewin.ch">corealis@bluewin.ch</a><br />
Site web <a href="http://www.corealis-ing.net/">www.corealis-ing.net</a></p>
</Pagelayout>