---
import Pagelayout from '../layouts/PageLayout.astro'
---

<Pagelayout>
<span><a href="http://www.geoexpert.ch/" title="lien vers le site de GeoExpert AG"><img src="./assets/geoexpert.png" alt="Logo GeoExpert" width="357" height="236" /></a></span>
<p id="teaser">GeoExpert AG offre ses services dans le domaine de la géophysique appliquée dans le cadre
d’investigations géotechniques et hydrogéologiques.</p>
<h2>Prestations</h2>
<p>Acquisition et traitement de données de sismique réflexion et réfraction, tomographie,
MASW, diagraphies, géoélectricité, géoradar, interprétation géophysique, permitting, controlling.</p>
<h2>Applications</h2>
<p>Génie civil, hydrogéologie, dangers naturels, environnement, ressources naturelles.</p>
<h2>Contact</h2>
<p>Tél +41 22 344 81 02<br />
E-mail <a href="mailto:info@geoexpert.ch">info@geoexpert.ch</a><br />
Site web <a href="http://www.geoexpert.ch/">www.geoexpert.ch</a></p>
</Pagelayout>