---
import Pagelayout from '../layouts/PageLayout.astro'
---

<Pagelayout>
<span><a href="http://www.hydrogeoconseils.ch/" title="lien vers le site d'HydroGéo Conseils"><img src="./assets/hydrogeo.png" alt="Logo HydroGéo Conseils" width="357" height="236" /></a></span>
<p id="teaser">HydroGéo Conseils regroupe, depuis plus de 10 ans, des ingénieurs spécialisés dans les domaines de
la géologie, de l’hydrogéologie, de la chimie de l’environnement et de l’amiante. Notre équipe
pluridisciplinaire vous apporte son expérience et ses compétences pour orienter efficacement vos
projets.</p>
<h2>Prestations</h2>
<p>Monitoring environnemental à l’aide de matériel d’analyse éprouvés, prélèvements
d’échantillons, essais in situ (pompage, traçage, infiltration, etc.), dimensionnement d’ouvrages, suivi
de travaux de forages, de terrassement et de désamiantage, évaluation environnementale.</p>
<h2>Applications</h2>
<p>Gestion et expertise de sites pollués, diagnostic des toxiques du bâtiment (amiante et
PCB), gestion des eaux, ressources naturelles (eau souterraine et gravière), géothermie.</p>
<h2>Contact</h2>
<p>Tél +41 22 301 15 39<br />
E-mail <a href="mailto:info@hydrogeoconseils.ch">info@hydrogeoconseils.ch</a><br />
Site web <a href="http://www.hydrogeoconseils.ch/">www.hydrogeoconseils.ch</a></p>
</Pagelayout>