---
import Pagelayout from '../layouts/PageLayout.astro'
---

<Pagelayout>
<span><img src="./assets/e7.png" alt="Logo e7" width="357" height="236" /></span>
<p id="teaser">L'espace environnement e7 est un ensemble de 7 entreprises actives dans les domaines 
de l'environnement et du paysage. Elles sont réunies dans une même arcade à Lancy (Genève) et 
regroupent de nombreuses compétences: géologie et hydrogéologie, agronomie, foresterie, 
architectes-paysagistes, géophysique, écologie, évaluations environnementales et énergie. </p> 
<h2>Notre groupe</h2>
<p>L'espace environnement e7 c'est: Acade, Alain Etienne, Corealis, GeoExpert, HydroGéo Conseils, 
Poget & Meynet et Viridis environnement. </p>
<h2>Vos avantages</h2>
<p>Grâce à nos complémentarités, nous pouvons appréhender les projets pluridisciplinaires, et 
travailler en synergie afin de vous offrir les meilleures prestations dans le domaine de 
l'environnement.</p>
<h2>Le lieu</h2>
<p>Chemin du Fief-de-Chapitre 7<br />
CH-1213 Petit-Lancy<br />
Transports publics arrêt Quidort, bus 2, 19 et 20 ou arrêt Claire Vue, bus 10<br />
<a href="http://maps.google.ch/maps?f=q&source=s_q&hl=fr&geocode=&q=Chemin+du+Fief-de-Chapitre+7+CH-1213+Petit-Lancy&aq=&sll=46.198392,6.142296&sspn=0.097312,0.120678&ie=UTF8&hq=&hnear=Chemin+du+Fief-de-Chapitre+7,+Jonction+1213+Petit-Lancy,+Gen%C3%A8ve&ll=46.197537,6.127045&spn=0.012164,0.015085&t=h&z=16">Google Maps</a></p>
</Pagelayout>