---
import Pagelayout from '../layouts/PageLayout.astro'
---

<Pagelayout>
<span><img src="/assets/poget.png" alt="Logo Poget & Meynet" width="357" height="236" /></span>
<p id="teaser">Le bureau d’études Poget & Meynet est actif depuis une quinzaine d’années et offre ses services dans
le domaine de la foresterie. Il est composé de deux ingénieurs forestiers avec une succursale à
Carouge.</p>
<h2>Prestations</h2>
<p>Plans de gestion forestiers et de zones naturelles, conseils et gestion de forêts, dossiers
de défrichements, organisation et suivi de travaux forestiers, traduction allemand-français (domaine
environnemental).</p>
<h2>Applications</h2>
<p>Aménagement forestier, gestion d’association de propriétaires forestiers, conservation
de la biodiversité, génie civil en et à proximité de la forêt.</p>
<h2>Contact</h2>
<p>Tél +41 22 870 19 16<br />
E-mail : <a href="mailto:philippe.poget@poget-meynet.ch">philippe.poget@poget-meynet.ch</a></p>
</Pagelayout>