---
import Pagelayout from '../layouts/PageLayout.astro'
---

<Pagelayout>
<span><a href="http://www.viridis-environnement.ch/" title="lien vers le site de Viridis"><img src="/assets/viridis.png" alt="Logo Viridis" width="357" height="236" /></a></span>
<p id="teaser">Viridis est principalement actif dans l’écologie et l’évaluation environnementale. Il est composé
d’ingénieurs en environnement et de biologistes.</p>
<h2>Prestations</h2>
<p>Études d’impact et expertises environnementales, inventaires biologiques, projets de
renaturation et direction de travaux, plans de gestion et plans d’action (milieux, espèces).</p>
<h2>Applications</h2>
<p>Aménagement du territoire, écologie et paysage, génie civil et génie rural, gravières.</p>
<h2>Contact</h2>
<p>Tél +41 22 823 27 87<br />
E-mail <a href="mailto:info@viridis-environnement.ch">info@viridis-environnement.ch</a><br />
Site web <a href="http://www.viridis-environnement.ch/">www.viridis-environnement.ch</a></p>
</Pagelayout>